table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: solid;
}

td {
    padding:50px;
    border: solid;
}

.item {
    align-items: center;
}

.img {
    display: flex;
    
}