table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: solid;
}

td {
    padding-left:30px;
    padding-right: 30px;
    border: solid;
}

.item {
    align-items: center;
}

.img {
    display: flex;
    width: 200px;
    height: 200px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input.button {
    margin: 30px;
}