/* .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
} */

/* ul.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
} */

main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    max-height: 200vh;
}

ul.items li:hover {
    background-color: lightblue;
}

#TopPicture {
    width: 960px;
    height: 170px;
}

.side-ad {
    width: 200px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
}

li img {
    width: 200px;
    height: 200px;
}

ul.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    grid-column: 2;
}

#left-ad {
    grid-column: 1;
}

#right-ad {
    grid-column: 3;
}
