.iteminfo {
    display: inline-block;
    border: solid;
}

table {
    vertical-align:top;
    height: 404px;
}

tr {
    line-height: 400%;
    border-bottom: 1pt solid black;
    border-collapse: collapse;
}

#Item {
    max-width: 500px;
    max-height: 400px;
}

article {
    border:solid;
    border-radius: 25px;
    border-color: blue;
    border-collapse: collapse;
    margin-bottom: 10px;
}

article:hover {
    background-color: lightblue;
}