/*
Use this file for styles that apply to ALL pages, such as page header or footer styles.
*/

body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

html {
    background-color: aqua;
}

header > h1,h2 {
    background-color: tan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: inset;
    border-width: 5px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

ul.links li {
    display: inline;
    padding: 15px;
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: inset;
    border-width: 5px;
    background-color: tan;
}

li a{
    text-decoration: none;
}

ul.links li:hover{
    border: none;
}

footer.copyright {
    background-color: tan;
    border: inset;
    border-width: 5px;
}

ul.links {
    margin: 50px;
}