/*
Use this file for styles that apply to ALL pages, such as page header or footer styles.
*/

body {
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

html {
    background-color: aqua;
}
